.education-details-container {
  background-image: url("details10.jpg");
  background-size: cover; /* Ensure the image covers the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  margin: 0; /* Remove default margin */
  padding: 0;
  height: calc(100vh - 76px);

}
.edu-header{
  /* align-self: flex-start; */
  padding-left: 250px;
}
.education-details-page {
  background-color: whitesmoke;
  padding: 30px; 
  border-radius: 20px;
  border: 3px solid black; /* Black border for the container */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Slightly increased shadow for better depth */
  max-width: 1000px;
  margin: auto; 
  width: 100%;
  height:490px;
}

.spacer {
  height: 10px; /* Adjust this value to move the heading further down */
}
/* 
.education-details-container h1 {
  margin-bottom: 20px; 
  color:white;
  text-align: left; 
  font-size: 24px; 
  margin-left: 495px;
} */

.education-details-container p {
  margin-bottom: 20px;
  color:white;
  text-align: left; /* Align the paragraph to the left */
  font-size: 18px; /* Increased font size */
  margin-left: 495px; /* Adjust this value to move the paragraph further left */
}

.education-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-column {
  flex: 1;
  min-width: 280px;
  margin-right: 20px;
}

.form-column:last-child {
  margin-right: 0; /* Remove margin-right for the last column */
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Increased spacing between form elements */
  color: #333;
  font-size: 16px; /* Increased font size */
}

.form-label input,
.form-label select {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc; /* Keep input border color */
  border-radius: 5px;
  font-size: 16px; /* Increased font size */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
  background-color: #f9f9f9; /* Light background color */
  color: #333; /* Text color */
}

.graduation-date {
  display: flex;
  justify-content: space-between;
}

.graduation-date select {
  width: 48%;
  background-color: #f9f9f9; /* Light background color */
  color: #333; /* Text color */
  border: 1px solid #ccc; /* Keep select border color */
  border-radius: 5px;
  padding: 10px;
  font-size: 16px; /* Increased font size */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
}

.button-container-e {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.add-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px; /* Increased padding for better button size */
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.add-button:not(:disabled):hover {
  background-color: #45a049;
}