.Exp {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 75px); */
  background: linear-gradient(135deg, #0a0a23 0%, #1f1f5a 100%);
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
}

.exp-header-xx {
  color: #ddd;
}

.Exp-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Exp-header p, .Exp-header h2 {
  color: white;
}

.Exp-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap; 
}

.buttons-container-ex {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap; 
  justify-content: center; 
}

.B-exp {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0; 
  width: auto;
}

.B-exp:hover {
  background-color: #0056b3;
}

.student-question {
  margin-top: 20px;
}

.student-question h2 {
  margin-bottom: 10px;
}

.education-options {
  margin-top: 20px;
  text-align: center;
}

.education-options h2 {
  margin-bottom: 10px;
}

.education-options p {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .Exp {
    padding: 10px;
    min-height: 100vh;
  }

  .Exp-footer {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .buttons-container-ex {
    flex-direction: column;
    gap: 10px;
  }

  .B-exp {
    width: 60%; 
    font-size: 14px;
    padding: 8px 16px;
    margin: 5px 0;
  }

  .Exp-header p, .Exp-header h2 {
    font-size: 18px;
  }

  .education-options h2, .student-question h2 {
    font-size: 20px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .Exp {
    padding: 20px;
    min-height: 100vh;

  }

  .Exp-footer {
    flex-direction: row;
    gap: 15px;
    padding: 15px;
  }

  .buttons-container-ex {
    flex-direction: row;
    gap: 10px;
  }

  .B-exp {
    width: 60%; 
    font-size: 15px;
    padding: 9px 18px;
    margin: 5px 0; 
  }

  .Exp-header p, .Exp-header h2 {
    font-size: 20px;
  }

  .education-options h2, .student-question h2 {
    font-size: 22px;
  }
}

@media (min-width: 901px) {
  .Exp {
    padding: 30px;
    min-height: 100vh;

  }

  .Exp-footer {
    flex-direction: row;
    gap: 20px;
    padding: 20px;
  }

  .buttons-container-ex {
    flex-direction: row;
    gap: 15px;
  }

  .B-exp {
    width: auto; 
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px 0; 
  }

  .Exp-header p, .Exp-header h2 {
    font-size: 24px;
  }

  .education-options h2, .student-question h2 {
    font-size: 24px;
  }
}
