.intern-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  /* margin: 0 20px; */
  background-image: url("details6.avif"); /* Add your image URL here */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 75px);
}

.content-box {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 800px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.9); /* Add transparency to see the background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.question h1 {
  color: black;
}

.question {
  margin-bottom: 20px;
}

.button-group {
  margin-bottom: 20px;
}

.button {
  padding: 20px 40px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yes-button {
  background-color: #5a6e9e;
  color: white;
  font-size: 18px;
}

.no-button {
  background-color: #5a6e9e;
  color: white;
  font-size: 18px;
}

.button:focus {
  outline: 3px solid #000;
}

.next-button-intern {
  padding: 10px 20px;
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.3s ease;
  margin-left: 670px;
  margin-bottom: 50px;
}

.next-button-intern:hover {
  background-color: #5a6e9e;
}