.intern-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("details6.avif"); 
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 75px);
  padding: 10px;
}

.content-box {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 90%; 
  max-width: 800px; 
  height: auto; 
  background-color: rgba(255, 255, 255, 0.9); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0; 
}

.question h1 {
  color: black;
  font-size: 24px; 
}

.question {
  margin-bottom: 20px;
}

.button-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.button {
  padding: 15px 30px; 
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px; 
}

.yes-button, .no-button {
  background-color: #5a6e9e;
  color: white;
}

.button:focus {
  outline: 3px solid #000;
}

.next-button-intern {
  padding: 10px 20px;
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px; 
  transition: all 0.3s ease;
  margin: 20px 0; 
}

.next-button-intern:hover {
  background-color: #5a6e9e;
}

@media (min-width: 600px) {
  .button-group {
    flex-direction: row; 
    margin-bottom: 20px;
    justify-content: center; 
  }

  .button {
    margin: 0 10px;
  }

  .next-button-intern {
    margin-left: auto; 
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media (min-width: 900px) {
  .button {
    padding: 20px 40px; 
    font-size: 18px; 
  }

  .next-button-intern {
    padding: 15px 30px; 
    font-size: 18px; 
  }
}
